# See http://help.github.com/ignore-files/ for more about ignoring files.

# Project specific
*.pyc
__pycache__
.pytest_cache
config.yml
*.db

# Pytest
cov_html
.coverage

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Test data
~$*.docx
tests/data/gs_bausteine/*.docx
!tests/data/gs_bausteine/_valid.docx
!tests/data/gs_bausteine/_invalid.docx

# Logs
*.log

# Licenses
licenses.md