[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
pydantic = "*"
jira = "*"
pyyaml = "*"
sqlalchemy = "*"
sqlmodel = "*"
cachetools = "*"
openpyxl = "*"
python-multipart = "*"
python-docx = "*"
alembic = "*"
cryptography = "*"
pandas = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
psycopg2-binary = "*"
pip-licenses = "*"
pytest-alembic = "*"

[requires]
python_version = "3.10"
