[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tornado = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
pyyaml = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
apispec = {extras = ["marshmallow"], version = "*"}
jira = "*"
swagger-ui-bundle = "*"

[dev-packages]
sphinx = "*"
aiosqlite = "*"

[requires]
python_version = "3.9"
