[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tornado = "*"
sqlalchemy = "*"
pyyaml = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
apispec = "*"

[dev-packages]
sphinx = "*"

[requires]
python_version = "3.9"
